<%= turbo_frame_tag @list do %>
  <h1><%= @list.title %></h1> 
  <h5><%= @list.description %></h5>
  <% if @list.user == current_user %>
    <%= link_to 'Edit List title & description', edit_list_path(@list) %>
    <%= link_to 'Delete this list', list_path(@list), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  <% end %>
<% end %>
<h5>List created by: <%= link_to @list.user.username, user_path(@list.user) %></h5>

<div>
  <% @list.tasks.each do |task| %>
    <ul>
      <%= turbo_frame_tag task do %>
        <li><%= task.title %> - <%= task.description %></li>
        <% if @list.user == current_user %>
          <%= link_to 'Edit task', edit_list_task_path(@list, task) %>
          <%= link_to "DONE", [task.list, task], data: { turbo_method: :delete } %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <% if @list.user == current_user %>
    <h3>Add New Task:</h3>
    <%= render "task_form" %><br><br>
  <% end %>
</div>